header, footer{
      background-color: #D0FF00;
      width: 80%;
      height: 100px;
      margin: 0 auto;
      text-align: center;
      font-family: 'Raleway', sans-serif;
}

main{
  width: 80%;
  height: auto;
  background-color: #CCFFFF;
}

@import url('https://fonts.googleapis.com/css?family=Raleway');

a{
  text-decoration: none;
  color:blue;
  font-weight: 900;
}

a:hover{
  color:mediumspringgreen;
  text-decoration: none;
  background-color: black
}



a:hover{
  color:mediumspringgreen;
  text-decoration: none;
  background-color: black
}



nav{
  width: 325px;
  height: 50px;
  background-color: red;
  margin: 0 auto;
}

nav ul{
  margin-left: -30px
}

nav ul li{
  list-style: none;
  display: inline-block;
/*width: 100px; */
text-align: center;
margin-right: 20px;
}

.cols{
  width: 49.5%;
  height: 400px;
  background-color: red;
  display: inline-block;
  vertical-align: top;
}


#grid1{
  display: grid;
  grid-template-areas: "col1 col2";
  grid-template-rows: 1fr;
  grid-template-columns: auto;
  text-align: center;

}

#col1{
  grid-area: col1;
  background-color:#FFC7F0  ;
  height: auto;
}

#col2{
  grid-area: col2;
  background-color:#FFC7F0    ;
  height: auto;
}

#grid2{
  display: grid;
  grid-template-areas: "col3 col4 col5";
  grid-template-columns: 50% 50%;
  grid-auto-rows: 1fr;
  margin-top: 10px;
}

#col3{
  grid-area: col3;
  background-color: #CCFFFF;
  height: 200px;
}

#col4{
  grid-area: col4;
  background-color: #CCFFFF;
  height: 200px;
}


#col5{
  grid-area: col5;
  background-color: #CCFFFF;
  height: 200px;
}

.images{
  height: 160px;
  display: block;
  margin: 10px auto;

}

#topImage{
  width: 100%;
  height: auto;
  display: inline-block;
}
