body{
  background-color: black;

}

a{
  text-decoration: none;
  color: #F1FF19;
  font-weight: 500;
  font-family:'Permanent Marker', cursive;
}

a:hover{
  color: white;
  text-decoration: none;
}

  header, footer{
      background-color: black;
      width: 80%;
      height: 150px;
      margin: 0 auto;
      text-align: center;
      font-family: 'Raleway', sans-serif;
      color: #13FF37;

  }

  /* Three image containers (use 25% for four, and 50% for two, etc) */
  .column {
    float: left;
    width: 30%;
    padding: 12.5px;
  }

  /* Clear floats after image containers */
  .row::after {
    content: "img/jouser.jpg";
    clear: both;
    display: table;
  }

  #grid1{
    display: grid;
    grid-template-areas: "col1 col2 col3";
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    margin-top: 10px;
  }

  #col1{
    grid-area: col1;
    height: auto;
  }

  #col2{
    grid-area: col2;
    height: auto;
  }

  #col3{
    grid-area: col3;
    height: auto;
  }

  .images{
height: 120px;
display: block;
margin: 10px auto;
      }




  nav{
      width: 100%;
      height: 100px;
      background-color: black;
      margin: center;
      text-align: center;
      font-family:'Permanent Marker', cursive;

  }

  nav ul{
    /* margin-left: -30px */
  }

  nav ul li{
    list-style: none;
    display: inline-block;
  /*width: 100px; */
  text-align: center;
  margin-right: 20px;
  }


  #topImage{
    width: 30%;
    height: auto;
    align-self: baseline;

  }



  h1{
    font-family:'Permanent Marker', cursive;
    font-weight: 500;
    text-align: center;
    font-size: 50px;
    color: #13FF37;
    padding-bottom: 0;
  }

  h2{
    font-family:'Permanent Marker', cursive;
    font-weight: 500;
    text-align: center;
    font-size: 24px;
    color: #DAF022;
    background-color: black;
  }

  h3{
    font-family: 'Permanent Marker', cursive;
    font-weight: 500;
    text-align: center;
    font-size: 24px;
    color: #13FF37;
  }

  main{
    background-color: black;
    width: 80%;
    height: auto;
    margin: 0 auto;
  }

  .abstractiongrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    width: 100%;

  }
  /* use for mobile */
/*
  .abstractiongrid{
    display: block;
    width: 100%;

  }
  */

  .abstractionimages{
    width: 300px;
    display: block;
    margin: 0 auto;
  }
